<a href="https://colab.research.google.com/github/Ben93kie/TrackAndTrace/blob/main/DataExploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Track and Trace - Praktikum im Bereich Data Science - Case Study**

---

# 1 Prerequisites, Data Loading and Preprocessing

Load required libraries

In [12]:
import pandas as pd
import os

Provide csv data paths

In [13]:
track_data_path = 'data_sample_AufgDataScience_Case.csv'
event_locations_path = 'event_locations_DataScience_Case.csv'

Load csv data in Pandas dataframes

In [14]:
track_data = pd.read_csv(track_data_path,delimiter=';') 
event_locations = pd.read_csv(event_locations_path,delimiter=';')
event_locations = event_locations.set_index('EventLocation')

Have a first glance at the data points

In [15]:
track_data.head(10)

,ContainerNumber,ShipmentNumber,PoCreationDate,Material,ShipmentQuantity,Controller,EventName,EventTime,EventMessageTime,EventLocation,VesselName,PortofDischarge,Time2Arrival
0,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Loading Ship,07.04.18 13:58,08.04.18 03:19,urn:jaif:id:loc:26LNLRTM,NYK ROMULUS,NaN,125.0
1,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Departure Ship,07.04.18 19:05,09.04.18 16:29,urn:jaif:id:loc:26LNLRTM,NYK ROMULUS,NaN,125.0
2,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Unloading Ship,21.04.18 06:19,21.04.18 11:59,urn:jaif:id:loc:26LUSCHS,NYK ROMULUS,NaN,111.0
3,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Departure Truck,21.04.18 11:42,21.04.18 13:29,urn:jaif:id:loc:26LUSCHS,NYK ROMULUS,NaN,111.0
4,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Arrival Truck,08.05.18 18:12,23.05.18 22:04,urn:jaif:id:loc:26LUSCHS,NYK ROMULUS,NaN,94.0
5,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Arrival Truck,08.05.18 18:12,23.05.18 17:32,urn:jaif:id:loc:26LUSCHS,NYK ROMULUS,NaN,94.0
6,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Loading Truck,16.07.18 14:15,16.07.18 16:47,urn:jaif:id:loc:26LDESPE,NYK ROMULUS,NaN,25.0
7,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Arrival Truck,24.07.18 02:03,24.07.18 05:11,urn:jaif:id:loc:26LBEANR,NYK ROMULUS,NaN,17.0
8,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Arrival Ship,02.08.18 21:54,03.08.18 01:03,urn:jaif:id:loc:26LUSSAV,NYK ROMULUS,NaN,7.0
9,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Registration Yard,10.08.18 16:18,10.08.18 23:18,urn:jaif:id:loc:25LUN498999044W0138,NYK ROMULUS,NaN,0.0

Explore the locations

In [16]:
event_locations

                                                     Bezeichnung
EventLocation
urn:jaif:id:loc:26LNLRTM                         Hafen Rotterdam
urn:jaif:id:loc:26LUSCHS                        Hafen Charleston
urn:jaif:id:loc:26LDESPE             Consolidation Center Speyer
urn:jaif:id:loc:26LBEANR                         Hafen Antwerpen
urn:jaif:id:loc:26LUSSAV                   Bahnterminal Savannah
urn:jaif:id:loc:25LUN498999044W0138              Werk Tuscaloosa
urn:jaif:id:loc:26LDEBRV                       Hafen Bremerhaven
urn:jaif:id:loc:26LDEHAM                           Hafen Hamburg
urn:jaif:id:loc:26LMXATM                          Hafen Altamira
urn:jaif:id:loc:26LMXAGU                    Hafen Aguascalientes

Replace EventLocation with their human-readable name

In [17]:
event_loc_to_name=event_locations.to_dict()
event_loc_to_name = event_loc_to_name['Bezeichnung']
event_loc_to_name[float('NaN')]=float('NaN')
track_data.replace({"EventLocation" : event_loc_to_name, "PortofDischarge" : event_loc_to_name}, inplace=True)

Take a deeper look

In [19]:
track_data.head(20)

,ContainerNumber,ShipmentNumber,PoCreationDate,Material,ShipmentQuantity,Controller,EventName,EventTime,EventMessageTime,EventLocation,VesselName,PortofDischarge,Time2Arrival
0,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Loading Ship,07.04.18 13:58,08.04.18 03:19,Hafen Rotterdam,NYK ROMULUS,NaN,125.0
1,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Departure Ship,07.04.18 19:05,09.04.18 16:29,Hafen Rotterdam,NYK ROMULUS,NaN,125.0
2,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Unloading Ship,21.04.18 06:19,21.04.18 11:59,Hafen Charleston,NYK ROMULUS,NaN,111.0
3,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Departure Truck,21.04.18 11:42,21.04.18 13:29,Hafen Charleston,NYK ROMULUS,NaN,111.0
4,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Arrival Truck,08.05.18 18:12,23.05.18 22:04,Hafen Charleston,NYK ROMULUS,NaN,94.0
5,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Arrival Truck,08.05.18 18:12,23.05.18 17:32,Hafen Charleston,NYK ROMULUS,NaN,94.0
6,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Loading Truck,16.07.18 14:15,16.07.18 16:47,Consolidation Center Speyer,NYK ROMULUS,NaN,25.0
7,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Arrival Truck,24.07.18 02:03,24.07.18 05:11,Hafen Antwerpen,NYK ROMULUS,NaN,17.0
8,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Arrival Ship,02.08.18 21:54,03.08.18 01:03,Bahnterminal Savannah,NYK ROMULUS,NaN,7.0
9,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Registration Yard,10.08.18 16:18,10.08.18 23:18,Werk Tuscaloosa,NYK ROMULUS,NaN,0.0
10,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Goods Receipt Dock,10.08.18 20:50,11.08.18 03:50,Werk Tuscaloosa,NYK ROMULUS,NaN,0.0
11,TCNU9520816,4875096,22.02.18 00:00,A2760101414,72.0,T15,Loading Ship,07.04.18 07:40,08.04.18 03:33,Hafen Bremerhaven,CHARLESTON EXPRESS,NaN,129.0
12,TCNU9520816,4875096,22.02.18 00:00,A2760101414,72.0,T15,Departure Ship,07.04.18 16:12,08.04.18 05:29,Hafen Bremerhaven,CHARLESTON EXPRESS,NaN,129.0
13,TCNU9520816,4875096,22.02.18 00:00,A2760101414,72.0,T15,Unloading Ship,18.04.18 20:59,19.04.18 00:25,Hafen Charleston,CHARLESTON EXPRESS,NaN,118.0
14,TCNU9520816,4875096,22.02.18 00:00,A2760101414,72.0,T15,Departure Truck,18.04.18 21:27,19.04.18 08:10,Hafen Charleston,CHARLESTON EXPRESS,NaN,118.0
15,TCNU9520816,4875096,22.02.18 00:00,A2760101414,72.0,T15,Arrival Truck,14.05.18 13:59,15.05.18 07:04,Hafen Charleston,CHARLESTON EXPRESS,NaN,92.0
16,TCNU9520816,4875096,22.02.18 00:00,A2760101414,72.0,T15,Loading Truck,20.07.18 10:26,20.07.18 12:49,Consolidation Center Speyer,CHARLESTON EXPRESS,NaN,25.0
17,TCNU9520816,4875096,22.02.18 00:00,A2760101414,72.0,T15,Arrival Truck,28.07.18 05:39,28.07.18 19:08,Hafen Antwerpen,CHARLESTON EXPRESS,NaN,17.0
18,TCNU9520816,4875096,22.02.18 00:00,A2760101414,72.0,T15,Arrival Ship,12.08.18 13:24,13.08.18 10:46,Bahnterminal Savannah,CHARLESTON EXPRESS,NaN,2.0
19,TCNU9520816,4875096,22.02.18 00:00,A2760101414,72.0,T15,Registration Yard,15.08.18 02:00,15.08.18 09:00,Werk Tuscaloosa,CHARLESTON EXPRESS,NaN,0.0

First insights:


*   We have quite a number of NaN values
*   Start point sometimes/always missing?
*   (Almost) Duplicate data points (e.g.)
*   Do not know the time zone -> Assume everything is GMT+2
*   A "data point" can also be seen as a time series here -> Look at rows with same shipment number

In [10]:
def get_single_shipment(ShipmentNumber):
  return track_data[track_data['ShipmentNumber'] == ShipmentNumber]
  
def get_random_shipment_number():
  return int(track_data.sample()['ShipmentNumber'])

In [20]:
get_single_shipment(get_random_shipment_number())

,ContainerNumber,ShipmentNumber,PoCreationDate,Material,ShipmentQuantity,Controller,EventName,EventTime,EventMessageTime,EventLocation,VesselName,PortofDischarge,Time2Arrival
20587,BMOU6575262,5407986,15.10.18 00:00,A2132704801,48.0,T15,Arrival Truck,22.11.18 17:31,22.11.18 22:03,Hafen Bremerhaven,WASHINGTON EXPRESS,Hafen Charleston,25.0
20588,BMOU6575262,5407986,24.10.18 00:00,A2572700000,36.0,T15,Arrival Truck,22.11.18 17:31,22.11.18 22:03,Hafen Bremerhaven,WASHINGTON EXPRESS,Hafen Charleston,25.0
20589,BMOU6575262,5407986,20.10.18 00:00,A2572700000,36.0,T15,Arrival Truck,22.11.18 17:31,22.11.18 22:03,Hafen Bremerhaven,WASHINGTON EXPRESS,Hafen Charleston,25.0
20590,BMOU6575262,5407986,15.10.18 00:00,A2132704801,48.0,T15,Loading Ship,26.11.18 09:43,26.11.18 14:13,Hafen Bremerhaven,WASHINGTON EXPRESS,Hafen Charleston,21.0
20591,BMOU6575262,5407986,24.10.18 00:00,A2572700000,36.0,T15,Loading Ship,26.11.18 09:43,26.11.18 14:13,Hafen Bremerhaven,WASHINGTON EXPRESS,Hafen Charleston,21.0
20592,BMOU6575262,5407986,20.10.18 00:00,A2572700000,36.0,T15,Loading Ship,26.11.18 09:43,26.11.18 14:13,Hafen Bremerhaven,WASHINGTON EXPRESS,Hafen Charleston,21.0
20593,BMOU6575262,5407986,15.10.18 00:00,A2132704801,48.0,T15,Departure Ship,26.11.18 21:18,26.11.18 23:29,Hafen Bremerhaven,WASHINGTON EXPRESS,Hafen Charleston,21.0
20594,BMOU6575262,5407986,24.10.18 00:00,A2572700000,36.0,T15,Departure Ship,26.11.18 21:18,26.11.18 23:29,Hafen Bremerhaven,WASHINGTON EXPRESS,Hafen Charleston,21.0
20595,BMOU6575262,5407986,20.10.18 00:00,A2572700000,36.0,T15,Departure Ship,26.11.18 21:18,26.11.18 23:29,Hafen Bremerhaven,WASHINGTON EXPRESS,Hafen Charleston,21.0
20596,BMOU6575262,5407986,15.10.18 00:00,A2132704801,48.0,T15,Arrival Ship,08.12.18 15:07,08.12.18 19:15,Hafen Charleston,WASHINGTON EXPRESS,Hafen Charleston,9.0
20597,BMOU6575262,5407986,24.10.18 00:00,A2572700000,36.0,T15,Arrival Ship,08.12.18 15:07,08.12.18 19:15,Hafen Charleston,WASHINGTON EXPRESS,Hafen Charleston,9.0
20598,BMOU6575262,5407986,20.10.18 00:00,A2572700000,36.0,T15,Arrival Ship,08.12.18 15:07,08.12.18 19:15,Hafen Charleston,WASHINGTON EXPRESS,Hafen Charleston,9.0
20599,BMOU6575262,5407986,15.10.18 00:00,A2132704801,48.0,T15,Unloading Ship,09.12.18 03:00,09.12.18 08:58,Hafen Charleston,WASHINGTON EXPRESS,Hafen Charleston,8.0
20600,BMOU6575262,5407986,24.10.18 00:00,A2572700000,36.0,T15,Unloading Ship,09.12.18 03:00,09.12.18 08:58,Hafen Charleston,WASHINGTON EXPRESS,Hafen Charleston,8.0
20601,BMOU6575262,5407986,20.10.18 00:00,A2572700000,36.0,T15,Unloading Ship,09.12.18 03:00,09.12.18 08:58,Hafen Charleston,WASHINGTON EXPRESS,Hafen Charleston,8.0
20602,BMOU6575262,5407986,15.10.18 00:00,A2132704801,48.0,T15,Departure Truck,10.12.18 15:47,10.12.18 17:57,Hafen Charleston,WASHINGTON EXPRESS,Hafen Charleston,7.0
20603,BMOU6575262,5407986,24.10.18 00:00,A2572700000,36.0,T15,Departure Truck,10.12.18 15:47,10.12.18 17:57,Hafen Charleston,WASHINGTON EXPRESS,Hafen Charleston,7.0
20604,BMOU6575262,5407986,20.10.18 00:00,A2572700000,36.0,T15,Departure Truck,10.12.18 15:47,10.12.18 17:57,Hafen Charleston,WASHINGTON EXPRESS,Hafen Charleston,7.0
20605,BMOU6575262,5407986,15.10.18 00:00,A2132704801,48.0,T15,Registration Yard,16.12.18 17:34,20.12.18 22:40,Werk Tuscaloosa,WASHINGTON EXPRESS,Hafen Charleston,1.0
20606,BMOU6575262,5407986,24.10.18 00:00,A2572700000,36.0,T15,Registration Yard,16.12.18 17:34,20.12.18 22:40,Werk Tuscaloosa,WASHINGTON EXPRESS,Hafen Charleston,1.0
20607,BMOU6575262,5407986,20.10.18 00:00,A2572700000,36.0,T15,Registration Yard,16.12.18 17:34,20.12.18 22:40,Werk Tuscaloosa,WASHINGTON EXPRESS,Hafen Charleston,1.0
20608,BMOU6575262,5407986,15.10.18 00:00,A2132704801,48.0,T15,Goods Receipt Dock,17.12.18 22:16,21.12.18 07:56,Werk Tuscaloosa,WASHINGTON EXPRESS,Hafen Charleston,0.0
20609,BMOU6575262,5407986,24.10.18 00:00,A2572700000,36.0,T15,Goods Receipt Dock,17.12.18 22:16,21.12.18 07:56,Werk Tuscaloosa,WASHINGTON EXPRESS,Hafen Charleston,0.0
20610,BMOU6575262,5407986,20.10.18 00:00,A2572700000,36.0,T15,Goods Receipt Dock,17.12.18 22:16,21.12.18 07:56,Werk Tuscaloosa,WASHINGTON EXPRESS,Hafen Charleston,0.0

many NaN values

In [ ]:
track_data[track_data["Time2Arrival"].isna()]

,ContainerNumber,ShipmentNumber,PoCreationDate,Material,ShipmentQuantity,Controller,EventName,EventTime,EventMessageTime,EventLocation,VesselName,PortofDischarge,Time2Arrival
359,BMOU5574791,4888130,13.03.18 00:00,A1662707202,150.0,T15,Departure Ship,14.04.18 22:30,15.04.18 12:23,Hafen Bremerhaven,NYK DAEDALUS,NaN,NaN
360,BMOU5574791,4888130,13.03.18 00:00,A1662707202,150.0,T15,Unloading Ship,25.04.18 19:50,25.04.18 21:40,Hafen Charleston,NYK DAEDALUS,NaN,NaN
361,BMOU5574791,4888130,13.03.18 00:00,A1662707202,150.0,T15,Departure Truck,25.04.18 20:22,25.04.18 22:30,Hafen Charleston,NYK DAEDALUS,NaN,NaN
362,BMOU5574791,4888130,13.03.18 00:00,A1662707202,150.0,T15,Arrival Truck,10.05.18 17:23,23.05.18 22:04,Hafen Charleston,NYK DAEDALUS,NaN,NaN
363,BMOU5574791,4888130,13.03.18 00:00,A1662707202,150.0,T15,Loading Truck,18.07.18 06:09,18.07.18 08:31,Consolidation Center Speyer,NYK DAEDALUS,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34268,BMOU4035985,5721724,28.03.19 00:00,A6540107406,18.0,T15,Arrival Ship,19.05.19 04:24,21.05.19 12:57,Hafen Charleston,CHARLESTON EXPRESS,Hafen Charleston,NaN
34269,BMOU4035985,5721724,28.03.19 00:00,A6540107406,18.0,T15,Unloading Ship,19.05.19 14:40,21.05.19 12:58,Hafen Charleston,CHARLESTON EXPRESS,Hafen Charleston,NaN
34270,BMOU4035985,5721724,28.03.19 00:00,A6540107406,18.0,T15,Departure Truck,20.05.19 12:57,21.05.19 13:02,Hafen Charleston,CHARLESTON EXPRESS,Hafen Charleston,NaN
34271,BMOU4035985,5721724,28.03.19 00:00,A6540107406,18.0,T15,Registration Yard,23.05.19 05:10,23.05.19 12:10,Werk Tuscaloosa,CHARLESTON EXPRESS,Hafen Charleston,NaN
34272,BMOU4035985,5721724,28.03.19 00:00,A6540107406,18.0,T15,Goods Receipt Dock,24.05.19 11:34,24.05.19 18:34,Werk Tuscaloosa,CHARLESTON EXPRESS,Hafen Charleston,NaN

Remove duplicate rows

In [ ]:
track_data.drop_duplicates(subset=["ContainerNumber","ShipmentNumber","PoCreationDate","Material","ShipmentQuantity","Controller","EventName","EventTime","EventLocation","VesselName","PortofDischarge","Time2Arrival"],inplace=True,ignore_index=True)