<a href="https://colab.research.google.com/github/Ben93kie/TrackAndTrace/blob/main/DataExploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Track and Trace - Praktikum im Bereich Data Science - Case Study**

---

# 1 Prerequisites, Data Loading and Preprocessing

Load required libraries

In [110]:
!pip install gmaps
import pandas as pd
import os
import gmaps
from google.colab import output
from datetime import datetime
output.enable_custom_widget_manager()

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gmaps in /usr/local/lib/python3.7/dist-packages (0.9.0)
Requirement already satisfied: traitlets>=4.3.0 in /usr/local/lib/python3.7/dist-packages (from gmaps) (5.1.1)
Requirement already satisfied: geojson>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from gmaps) (2.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from gmaps) (1.15.0)
Requirement already satisfied: ipython>=5.3.0 in /usr/local/lib/python3.7/dist-packages (from gmaps) (7.9.0)
Requirement already satisfied: ipywidgets>=7.0.0 in /usr/local/lib/python3.7/dist-packages (from gmaps) (7.7.1)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython>=5.3.0->gmaps) (4.8.0)
Requirement already satisfied: jedi>=0.10 in /usr/local/lib/python3.7/dist-packages (from ipython>=5.3.0->gmaps) (0.18.1)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=5.3.0->gmaps) (2.6.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=5.3.0->gmaps) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=5.3.0->gmaps) (0.7.5)
Requirement already satisfied: backcall in /usr/local/lib/python3.7/dist-packages (from ipython>=5.3.0->gmaps) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=5.3.0->gmaps) (57.4.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from ipython>=5.3.0->gmaps) (2.0.10)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.0.0->gmaps) (5.3.4)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.0.0->gmaps) (3.0.3)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.0.0->gmaps) (3.6.1)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.0.0->gmaps) (0.2.0)
Requirement already satisfied: tornado>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (5.1.1)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.1.12)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from jedi>=0.10->ipython>=5.3.0->gmaps) (0.8.3)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=5.3.0->gmaps) (0.2.5)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (5.5.0)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (0.13.3)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (5.6.1)
Requirement already satisfied: pyzmq>=17 in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (23.2.1)
Requirement already satisfied: nbformat in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (5.7.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (2.11.3)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (1.8.0)
Requirement already satisfied: jupyter-core>=4.4.0 in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (4.11.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (2.8.2)
Requirement already satisfied: ptyprocess in /usr/local/lib/python3.7/dist-packages (from terminado>=0.8.1->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (0.7.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (2.0.1)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (0.4)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (0.6.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (1.5.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (0.8.4)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (0.7.1)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (5.0.1)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.7/dist-packages (from nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (2.16.2)
Requirement already satisfied: jsonschema>=2.6 in /usr/local/lib/python3.7/dist-packages (from nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (4.3.3)
Requirement already satisfied: importlib-metadata>=3.6 in /usr/local/lib/python3.7/dist-packages (from nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (5.0.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=3.6->nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (3.9.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=3.6->nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (4.1.1)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.6->nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (5.10.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.6->nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (0.18.1)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.6->nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (22.1.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (0.5.1)

Provide csv data paths

In [111]:
track_data_path = 'data_sample_AufgDataScience_Case.csv'
event_locations_path = 'event_locations_DataScience_Case.csv'

Load csv data in Pandas dataframes

In [112]:
track_data = pd.read_csv(track_data_path,delimiter=';') 
track_data2 = pd.read_csv(track_data_path,delimiter=';') 
event_locations = pd.read_csv(event_locations_path,delimiter=';')
event_locations = event_locations.set_index('EventLocation')

Have a first glance at the data points

In [113]:
track_data.head(10)

,ContainerNumber,ShipmentNumber,PoCreationDate,Material,ShipmentQuantity,Controller,EventName,EventTime,EventMessageTime,EventLocation,VesselName,PortofDischarge,Time2Arrival
0,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Loading Ship,07.04.18 13:58,08.04.18 03:19,urn:jaif:id:loc:26LNLRTM,NYK ROMULUS,NaN,125.0
1,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Departure Ship,07.04.18 19:05,09.04.18 16:29,urn:jaif:id:loc:26LNLRTM,NYK ROMULUS,NaN,125.0
2,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Unloading Ship,21.04.18 06:19,21.04.18 11:59,urn:jaif:id:loc:26LUSCHS,NYK ROMULUS,NaN,111.0
3,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Departure Truck,21.04.18 11:42,21.04.18 13:29,urn:jaif:id:loc:26LUSCHS,NYK ROMULUS,NaN,111.0
4,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Arrival Truck,08.05.18 18:12,23.05.18 22:04,urn:jaif:id:loc:26LUSCHS,NYK ROMULUS,NaN,94.0
5,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Arrival Truck,08.05.18 18:12,23.05.18 17:32,urn:jaif:id:loc:26LUSCHS,NYK ROMULUS,NaN,94.0
6,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Loading Truck,16.07.18 14:15,16.07.18 16:47,urn:jaif:id:loc:26LDESPE,NYK ROMULUS,NaN,25.0
7,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Arrival Truck,24.07.18 02:03,24.07.18 05:11,urn:jaif:id:loc:26LBEANR,NYK ROMULUS,NaN,17.0
8,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Arrival Ship,02.08.18 21:54,03.08.18 01:03,urn:jaif:id:loc:26LUSSAV,NYK ROMULUS,NaN,7.0
9,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Registration Yard,10.08.18 16:18,10.08.18 23:18,urn:jaif:id:loc:25LUN498999044W0138,NYK ROMULUS,NaN,0.0

Explore the locations

In [114]:
event_locations

                                                     Bezeichnung
EventLocation
urn:jaif:id:loc:26LNLRTM                         Hafen Rotterdam
urn:jaif:id:loc:26LUSCHS                        Hafen Charleston
urn:jaif:id:loc:26LDESPE             Consolidation Center Speyer
urn:jaif:id:loc:26LBEANR                         Hafen Antwerpen
urn:jaif:id:loc:26LUSSAV                   Bahnterminal Savannah
urn:jaif:id:loc:25LUN498999044W0138              Werk Tuscaloosa
urn:jaif:id:loc:26LDEBRV                       Hafen Bremerhaven
urn:jaif:id:loc:26LDEHAM                           Hafen Hamburg
urn:jaif:id:loc:26LMXATM                          Hafen Altamira
urn:jaif:id:loc:26LMXAGU                    Hafen Aguascalientes

Replace EventLocation with their human-readable name

In [115]:
event_loc_to_name=event_locations.to_dict()
event_loc_to_name = event_loc_to_name['Bezeichnung']
event_loc_to_name[float('NaN')]=float('NaN')
event_loc_to_name['*Multiple*']='*Multiple*'
track_data.replace({"EventLocation" : event_loc_to_name, "PortofDischarge" : event_loc_to_name}, inplace=True)

Take a deeper look

In [116]:
track_data.head(20)

,ContainerNumber,ShipmentNumber,PoCreationDate,Material,ShipmentQuantity,Controller,EventName,EventTime,EventMessageTime,EventLocation,VesselName,PortofDischarge,Time2Arrival
0,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Loading Ship,07.04.18 13:58,08.04.18 03:19,Hafen Rotterdam,NYK ROMULUS,NaN,125.0
1,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Departure Ship,07.04.18 19:05,09.04.18 16:29,Hafen Rotterdam,NYK ROMULUS,NaN,125.0
2,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Unloading Ship,21.04.18 06:19,21.04.18 11:59,Hafen Charleston,NYK ROMULUS,NaN,111.0
3,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Departure Truck,21.04.18 11:42,21.04.18 13:29,Hafen Charleston,NYK ROMULUS,NaN,111.0
4,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Arrival Truck,08.05.18 18:12,23.05.18 22:04,Hafen Charleston,NYK ROMULUS,NaN,94.0
5,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Arrival Truck,08.05.18 18:12,23.05.18 17:32,Hafen Charleston,NYK ROMULUS,NaN,94.0
6,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Loading Truck,16.07.18 14:15,16.07.18 16:47,Consolidation Center Speyer,NYK ROMULUS,NaN,25.0
7,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Arrival Truck,24.07.18 02:03,24.07.18 05:11,Hafen Antwerpen,NYK ROMULUS,NaN,17.0
8,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Arrival Ship,02.08.18 21:54,03.08.18 01:03,Bahnterminal Savannah,NYK ROMULUS,NaN,7.0
9,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Registration Yard,10.08.18 16:18,10.08.18 23:18,Werk Tuscaloosa,NYK ROMULUS,NaN,0.0
10,HLXU8170197,4868820,19.02.18 00:00,A2760101414,72.0,T15,Goods Receipt Dock,10.08.18 20:50,11.08.18 03:50,Werk Tuscaloosa,NYK ROMULUS,NaN,0.0
11,TCNU9520816,4875096,22.02.18 00:00,A2760101414,72.0,T15,Loading Ship,07.04.18 07:40,08.04.18 03:33,Hafen Bremerhaven,CHARLESTON EXPRESS,NaN,129.0
12,TCNU9520816,4875096,22.02.18 00:00,A2760101414,72.0,T15,Departure Ship,07.04.18 16:12,08.04.18 05:29,Hafen Bremerhaven,CHARLESTON EXPRESS,NaN,129.0
13,TCNU9520816,4875096,22.02.18 00:00,A2760101414,72.0,T15,Unloading Ship,18.04.18 20:59,19.04.18 00:25,Hafen Charleston,CHARLESTON EXPRESS,NaN,118.0
14,TCNU9520816,4875096,22.02.18 00:00,A2760101414,72.0,T15,Departure Truck,18.04.18 21:27,19.04.18 08:10,Hafen Charleston,CHARLESTON EXPRESS,NaN,118.0
15,TCNU9520816,4875096,22.02.18 00:00,A2760101414,72.0,T15,Arrival Truck,14.05.18 13:59,15.05.18 07:04,Hafen Charleston,CHARLESTON EXPRESS,NaN,92.0
16,TCNU9520816,4875096,22.02.18 00:00,A2760101414,72.0,T15,Loading Truck,20.07.18 10:26,20.07.18 12:49,Consolidation Center Speyer,CHARLESTON EXPRESS,NaN,25.0
17,TCNU9520816,4875096,22.02.18 00:00,A2760101414,72.0,T15,Arrival Truck,28.07.18 05:39,28.07.18 19:08,Hafen Antwerpen,CHARLESTON EXPRESS,NaN,17.0
18,TCNU9520816,4875096,22.02.18 00:00,A2760101414,72.0,T15,Arrival Ship,12.08.18 13:24,13.08.18 10:46,Bahnterminal Savannah,CHARLESTON EXPRESS,NaN,2.0
19,TCNU9520816,4875096,22.02.18 00:00,A2760101414,72.0,T15,Registration Yard,15.08.18 02:00,15.08.18 09:00,Werk Tuscaloosa,CHARLESTON EXPRESS,NaN,0.0

In [117]:
print('Event Names:\n', track_data['EventName'].unique())
print('Materials:\n', track_data['Material'].unique())
print('Shipment Quantities:\n', track_data['ShipmentQuantity'].unique())
print('Controllers:\n', track_data['Controller'].unique())
print('Vessel Names:\n', track_data['VesselName'].unique())
print('Ports of Discharge:\n', track_data['PortofDischarge'].unique())
print('Arrival Times:\n', track_data['Time2Arrival'].unique())

Event Names:
 ['Loading Ship' 'Departure Ship' 'Unloading Ship' 'Departure Truck'
 'Arrival Truck' 'Loading Truck' 'Arrival Ship' 'Registration Yard'
 'Goods Receipt Dock' 'New Scheduling' 'Container Closed']
Materials:
 ['A2760101414' 'A2760101614' 'A1662707202' 'A1662708602' 'A1662708702'
 'A6540107406' 'A2560107300' 'A2132704801' 'A2760106714' 'A2572700000']
Shipment Quantities:
 [ 72.  42.  24.  21.   6.  45.  33.  27. 144. 138. 150. 126.  12.  66.
 120.  15. 102.  36. 108.  30.  78.  54.  90.  39.   9.  60. 114.  96.
  48. 132.  18.   3.  69.  51.  84.  57.  47.  63. 156.  68. 162.  nan
 106. 122.  52.   2.  13.  53. 129. 135.  59.   5.]
Controllers:
 ['T15']
Vessel Names:
 ['NYK ROMULUS' 'CHARLESTON EXPRESS' 'YORKTOWN EXPRESS' 'MOL EMISSARY'
 'NYK DAEDALUS' 'PHILADELPHIA EXPRESS' 'SHANGHAI TRADER' 'MAINE TRADER'
 'ST LOUIS EXPRESS' 'MUNICH MAERSK' 'VECCHIO BRIDGE' 'WASHINGTON EXPRESS'
 'NYK RIGEL' 'NYK METEOR' 'EASLINE DALIAN' 'MONACO MAERSK' 'YM UNITY'
 'MOL EMPIRE' 'VENICE BRIDGE' 'ROTTERDAM EXPRESS' 'NYK RUMINA'
 'BREVIK BRIDGE' 'TRF PARTICI' 'MOL EXPERIENCE' 'NYK REMUS' 'NYK DENEB'
 'NYK NEBULA']
Ports of Discharge:
 [nan 'Hafen Charleston' 'Bahnterminal Savannah' '*Multiple*'
 'Hafen Altamira']
Arrival Times:
 [125. 111.  94.  25.  17.   7.   0. 129. 118.  92.   2.  66.  55.  53.
  42.  57.  41.  40.  39. 137. 133. 120. 119.  90.  28.  21.   8.  61.
  45.  44.  43.  62.  50.  49.  48. 209. 208. 197. 174. 135. 117.  83.
  37.  20.  11. 126. 122. 121. 109. 108.  24.  16. 155. 151. 138.  95.
  38.  54.  36.  35.  60.  56. 115.  98.  85.   5. 105.  23.  15.   6.
 110.  99.  86.  13.  10.  46.  34.  47. 102. 101.  76.  32.  18.   4.
 113.  29.   9.  52.  51.  80.  22.   1.  nan  33. 114. 103.  81.  59.
 106.  26.  12.  14.  31.  30. 128.  82.  27.  58.  67.   3.  68.  72.
  65. 132. 116.  73.  87.  75.  74.  63.  88. 139.  84. 124. 104.  79.
 249. 247. 246. 235. 228. 181. 145. 164. 157. 156.  19.  70.  64. 136.
 134. 153. 150. 149.  69.  71. 131. 127.  97.  77. 130. 140.  89.  96.
 256. 227. 167. 268. 264. 263. 252. 240. 220. 236. 216. 204. 159. 148.
 100. 123.  93. 223. 212. 199. 169.  91.  78. 278. 269. 258. 168. 144.
 142. 143. 112. 107. 163. 158. 147. 146. 152. 166. 194. 191. 190. 175.
 141. 154. 160.]

First insights:


*   We have quite a number of NaN values
*   Start point sometimes/always missing?
*   (Almost) Duplicate data points?
*   Do not know the time zone -> Assume everything is GMT+2
*   A "data point" can also be seen as a time series here -> Look at rows with same shipment number

In [135]:
def get_single_shipment(ShipmentNumber):
  return track_data[track_data['ShipmentNumber'] == ShipmentNumber]

def get_random_shipment_number():
  return int(track_data.sample()['ShipmentNumber'])

def convert_to_strptime(time_series):
  #return datetime.strptime(time_stamp, '%d.%m%y %H:%M')
  return pd.to_datetime(time_series, format='%d.%m.%y %H:%M')

def sort_by(df,feature):
  return df.sort_values(by=[feature], key=convert_to_strptime)

In [139]:
track_data.replace('###############################################################################################################################################################################################################################################################',float('NaN'),inplace=True)

In [143]:
first_EventTime = sort_by(track_data,'EventTime').iloc[0]['EventTime']
last_EventTime = sort_by(track_data,'EventTime').iloc[-1]['EventTime']
print("first_EventTime ", first_EventTime)
print("last_EventTime ", last_EventTime)

first_EventMessageTime = sort_by(track_data,'EventMessageTime').iloc[0]['EventMessageTime']
last_EventMessageTime = sort_by(track_data,'EventMessageTime').iloc[-1]['EventMessageTime']
print("first_event_date ", first_EventMessageTime)
print("last_event_date ", last_EventMessageTime)

first_PoCreationDate = sort_by(track_data,'PoCreationDate').iloc[0]['PoCreationDate']
last_PoCreationDate = sort_by(track_data,'PoCreationDate').iloc[-1]['PoCreationDate']
print("first_PoCreationDate ", first_PoCreationDate)
print("last_PoCreationDate ", last_PoCreationDate)

first_ShipmentNumber = track_data.sort_values(by=['ShipmentNumber']).iloc[0]['ShipmentNumber']
last_ShipmentNumber = track_data.sort_values(by=['ShipmentNumber']).iloc[-1]['ShipmentNumber']
print("first_ShipmentNumber ", first_ShipmentNumber)
print("last_ShipmentNumber ", last_ShipmentNumber)

first_ContainerNumber = track_data.sort_values(by=['ContainerNumber']).iloc[0]['ContainerNumber']
last_ContainerNumber = track_data.sort_values(by=['ContainerNumber']).iloc[-1]['ContainerNumber']
print("first_ContainerNumber ", first_ContainerNumber)
print("last_ContainerNumber ", last_ContainerNumber)

first_EventTime  05.04.18 14:01
last_EventTime  05.07.19 10:09
first_event_date  05.04.18 21:08
last_event_date  nan
first_PoCreationDate  19.02.18 00:00
last_PoCreationDate  24.04.19 00:00
first_ShipmentNumber  4868820
last_ShipmentNumber  5721724
first_ContainerNumber  AMFU8583510
last_ContainerNumber  XINU8098194

In [140]:
#get_single_shipment(get_random_shipment_number())
#get_single_shipment(4949799)
track_data["EventMessageTime"][2537]

nan

Prepare Map Visualization Scripts

In [121]:
maps_api_key = "AIzaSyCdpiRnw6_3bP2wB3XONdSsSW8vQtJlpGg"
gmaps.configure(api_key=maps_api_key)

In [122]:
event_locs_and_GPS = [{'id': 'urn:jaif:id:loc:26LNLRTM' ,'name' : 'Hafen Rotterdam', 'location': (51.9496, 4.14526)},
                        {'id': 'urn:jaif:id:loc:26LUSCHS', 'name' : 'Hafen Charleston', 'location': (32.76677, -79.89591)},
                        {'id': 'urn:jaif:id:loc:26LDESPE', 'name': 'Consolidation Center Speyer', 'location': (49.29613, 8.47613)},
                        {'id': 'urn:jaif:id:loc:26LBEANR', 'name': 'Hafen Antwerpen', 'location': (51.24075, 4.40776)},
                        {'id': 'urn:jaif:id:loc:26LUSSAV', 'name': 'Bahnterminal Savannah', 'location': (32.08361, -81.14841)},
                        {'id': 'urn:jaif:id:loc:25LUN498999044W0138', 'name': 'Werk Tuscaloosa', 'location': (33.18639, -87.26082)},
                        {'id': 'urn:jaif:id:loc:26LDEBRV' ,'name' : 'Hafen Bremerhaven', 'location': (53.55948, 8.56244),},
                        {'id': 'urn:jaif:id:loc:26LDEHAM' ,'name' : 'Hafen Hamburg', 'location': (53.50709, 9.96792),},
                        {'id': 'urn:jaif:id:loc:26LMXATM' ,'name' : 'Hafen Altamira', 'location': (22.48797, -97.8844),},
                        {'id': 'urn:jaif:id:loc:26LMXAGU' ,'name' : 'Hafen Aguascalientes', 'location': (21.88525, -102.29156),}]
event_GPS = [location['location'] for location in event_locs_and_GPS]
info_box_template = """
<dl>
<dt>Name</dt><dd>{name}</dd>
<dt>Id</dt><dd>{id}</dd>
</dl>
"""
location_info = [info_box_template.format(**location) for location in event_locs_and_GPS]
fig = gmaps.figure()

def draw_route(time_location_dict):
  time_location_dict = 
  

marker_layer = gmaps.marker_layer(event_GPS, info_box_content=location_info)
fig.add_layer(marker_layer)
gmt_meridian = gmaps.Line(
start=(51.9496, 4.14526),
end=(32.76677, -79.89591),
stroke_weight=3.0
)
drawing = gmaps.drawing_layer(features=[gmt_meridian])
fig.add_layer(drawing)
fig

SyntaxError: ignored

In [ ]:
from google.colab import output
output.disable_custom_widget_manager()

many NaN values

In [ ]:
track_data[track_data["Time2Arrival"].isna()]

Remove duplicate rows

In [ ]:
track_data.drop_duplicates(subset=["ContainerNumber","ShipmentNumber","PoCreationDate","Material","ShipmentQuantity","Controller","EventName","EventTime","EventLocation","VesselName","PortofDischarge","Time2Arrival"],inplace=True,ignore_index=True)